<div class="page-header">
  <h1>Slalom Freshmen! <small>Meet the team...</small></h1>
</div>

<div class="jumbotron box-shadow">
  <!--<h1>Slalom Freshmen!</h1>-->

  <p class="lead">

  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <img src="../images/AlenZograbyan_LoRes.jpg" alt="Alen Zograbyan">
        <div class="caption">
          <h3>Alen</h3>
          <small>Alen graduated from UCI with a bachelor’s degree in Information & Computer Science. He is very passionate about building custom software that is robust, scalable, performs well, and is aesthetically pleasing. Alen is a well-rounded web developer, having years of experience in all application layers.<br><br>AWS Certified Solutions Architect<br><br><a href="http://aztechblog.wordpress.com" class="btn btn-default btn-xs" role="button">My blog</a></small>
        </div>
      </div>
    </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../images/DavidMoon_LoRes.jpg" alt="David Moon">
      <div class="caption">
        <h3>David</h3>
        <small>David graduated from University of California, San Diego.  He has been with Slalom for over two years and is currently workin/chillin/crm'ing at ASM.  When he's not there, you'll find him playing Clash of Clan. Any clashers out there?</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../images/RandyHongo_LoRes.jpg" alt="Randy Hongo">
      <div class="caption">
        <h3>Randy</h3>
        <small>Randy is waiting for the Lakers to return to their rightful place...The purple and gold will rise again!</small>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../images/TylerGarland_LoRes.jpg" alt="Tyler Garland">
      <div class="caption">
        <h3>Tyler</h3>
        <small>Tyler graduated from a small, local college in Salt Lake City, UT. When not working on a side project, He is out hiking mountains or trying new foods. Not wanting to get stuck in the ever-shrinking desktop space, He’s been working to become a full-stack web guy just in time for the next switch!</small>
      </div>
    </div>
  </div>
  </div>
  </p>
  <p><a class="btn btn-lg btn-info" ng-click="callAPI()">Click me<!--<span class="glyphicon glyphicon-ok"></span>--></a></p>
    <div ng-show="sessionCreateDate !== null">
        <p>Your ID is {{sessionId}}</p>
        <p>Your session was created on: {{sessionCreateDate}}</p>
    </div>
</div>

<div class="row marketing">
  <div class="page-header">
    <h1>Technologies used <small>The cool stuff...</small></h1>
  </div>

  <div class="col-md-3">
    <h4>AngularJS</h4>
    <img src="../images/AngularJS-Shield-medium.png" height="107" alt="Angular JS">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Grunt</h4>
    <img src="../images/grunt.png" height="107" alt="Grunt">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Yeoman</h4>
    <img src="../images/yeoman.jpg" height="107" alt="Yeoman">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Bower</h4>
    <img src="../images/bower.png" height="107" alt="Bower">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Bootstrap</h4>
    <img src="../images/bootstrap.png" height="107" alt="Bootstrap">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>NancyFX</h4>
    <img src="../images/nancyFx.jpg" height="107" alt="NancyFX">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Node</h4>
    <img src="../images/node-js.png" height="107" alt="NodeJS">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Git</h4>
    <img src="../images/Git-Icon-1788C.png" height="107" alt="Git">
    <p>
    </p>
  </div>
</div>

<div class="row marketing">
  <div class="page-header">
    <h1>Multiple IDEs used <small>We don't discriminate...</small></h1>
  </div>

  <div class="col-md-3">
    <h4>Visual Studio</h4>
    <img src="../images/visual-studio-logo.png" height="107" alt="Visual Studio">
    <p>
    </p>
  </div>
  <div class="col-md-3">
    <h4>Webstorm</h4>
    <img src="../images/WebStorm.gif" height="107" alt="Webstorm">
    <p>
    </p>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row marketing">
  <div class="page-header">
    <h1>Testing <small>Who needs testing, right? WRONG!...</small></h1>
  </div>

  <div class="col-md-3">
    <h4>PhantomJS</h4>
    <img src="../images/phantomjs.png" height="107" alt="PhantomJS">
    <p>
    </p>
  </div>

  <div class="col-md-3">
    <h4>Karma</h4>
    <img src="../images/karma.png" height="107" alt="Karma">
    <p>
    </p>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row marketing">
  <div class="page-header">
    <h1>Project Management <small>Behind the scenes...</small></h1>
  </div>

  <div class="col-md-3">
    <h4>Taiga</h4>
    <img src="../images/taiga.png" height="107" alt="Taiga">
    <p>
    </p>
  </div>
  <div class="col-md-9">
  </div>
</div>
